services:
  db:
    build:
      context: .
      dockerfile: Dockerfile.mongo
    container_name: rainlogger-db
    ports:
      - "27017:27017"

  opensesame-back:
    build:
      context: .
      dockerfile: Dockerfile.opensesame
      args:
        DATABASE: mongodb://admindb:admindb@db:27017/opensesame?authSource=admin
        JWT_SECRET: jc2TNsWyaM3DdKkhurJL8QGzCvX9BfUY
        CORS_WHITELIST: "http://rainlogger-back:8082,http://localhost,http://rainlogger-front,http://localhost:80"
    container_name: opensesame-back
    environment:
      NODE_ENV: production
      PORT: 8080
      DB_NAME: opensesame
      DATABASE: mongodb://admindb:admindb@db:27017/opensesame?authSource=admin
      PASSWORD_HASH_DIFFICULTY: 12
      JWT_SECRET: jc2TNsWyaM3DdKkhurJL8QGzCvX9BfUY
      JWT_EXPIRES_IN: 604800
      JWT_COOKIE_EXPIRES_IN: 7
      RATELIMIT_MAXCONNECTIONS: 100
      RATELIMIT_WINDOWMS: 3600000
      CORS_WHITELIST: "http://rainlogger-back:8082,http://localhost,http://rainlogger-front,http://localhost:80"
    depends_on:
      - db
    ports:
      - "8080:8080"

  rainlogger-back:
    build:
      context: .
      dockerfile: Dockerfile.rainlogger-back
      args:
        DATABASE: mongodb://admindb:admindb@db:27017/rainlogger?authSource=admin
        AUTH_URL: http://opensesame-back:8080/api/v1
        CORS_WHITELIST: "http://localhost,http://opensesame-back:8080,http://rainlogger-front,http://localhost:80"
    container_name: rainlogger-back
    environment:
      NODE_ENV: production
      PORT: 8082
      DATABASE: mongodb://admindb:admindb@db:27017/rainlogger?authSource=admin
      AUTH_URL: http://opensesame-back:8080/api/v1
      RATELIMIT_MAXCONNECTIONS: 100
      RATELIMIT_WINDOWMS: 3600000
      CORS_WHITELIST: "http://localhost,http://opensesame-back:8080,http://rainlogger-front,http://localhost:80"
    depends_on:
      - db
      - opensesame-back
    ports:
      - "8082:8082"

  rainlogger-front:
    build:
      context: .
      dockerfile: Dockerfile.front
      args:
        BASE_URL_AUTH: http://localhost:8080/api
        BASE_URL_RAINLOGGER: http://localhost:8082/api
        LOCATION_NAMES: Castraz,Salamanca
    container_name: rainlogger-front
    depends_on:
      - db
      - opensesame-back
      - rainlogger-back
    ports:
      - "80:80"
