name: Deployment

on: workflow_dispatch

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "lts/Krypton"
          cache: "pnpm"
      - name: Install dependencies
        run: pnpm i --frozen-lockfile
      - name: Build
        run: CI=false pnpm build
        env:
          BASE_URL_AUTH: ${{ vars.BASE_URL_AUTH }}
          BASE_URL_RAINLOGGER: ${{ vars.BASE_URL_RAINLOGGER }}
          LOCATION_NAMES: ${{ vars.LOCATION_NAMES }}
          NODE_ENV: production
      - name: Install lftp for deployment
        run: sudo apt install lftp
      - name: Deploy
        run: lftp -e "set ftp:ssl-allow no;mirror -R dist/client rainlogger" -u "${{ secrets.FTP_USERNAME }}","${{ secrets.FTP_PASSWORD }}" "${{ secrets.FTP_HOSTNAME }}"